<%= provide :title, "All User" %>
<html>
  <head>
    <title><%= yield(:title) %> | Course Registration System </title>
  </head>
  <body>
    <h1>Users</h1>
    <%= paginate @users %>
    <ul class="users">
      <%= @users.each do |user| %>
        <li>
          <%= gravatar_for @user, size: 50 %>
          <%= link_to user.name, user %>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "delete", user, method: delete, data: { confirm: "You sure?" } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
